In [11]:
import pandas as pd

## PREPROCESSING BEFORE BASELINE

In [12]:
#Read raw csv used to form baseline model 
flights_data = pd.read_csv('~/Bootcamp/MIDTERM PROJECT/training_data_outliers_removed_01.csv')

In [54]:
flights_data.shape

(978876, 11)

In [14]:
flights_grouped = flights_data.groupby(by='op_unique_carrier').mean()
flights_grouped.reset_index(inplace=True)
flights_grouped['total_delay'] = flights_grouped['carrier_delay'] + flights_grouped['nas_delay'] + flights_grouped['late_aircraft_delay']
flights_grouped = flights_grouped.drop(columns = ['dep_delay','arr_delay','dep_time','arr_time','crs_arr_time','actual_elapsed_time','distance','carrier_delay','nas_delay','security_delay','late_aircraft_delay','weather_delay','year','month','day','weekday'])

flights_grouped

   op_unique_carrier  total_delay
0                 9E    12.943252
1                 AA    12.235016
2                 AS     9.120756
3                 AX    21.245899
4                 B6    20.051110
5                 C5    29.546558
6                 CP    12.682921
7                 DL     8.333455
8                 EV    16.351336
9                 F9    19.147811
10                G4    12.463702
11                G7    15.409672
12                HA    10.550831
13                MQ    11.481340
14                NK    12.572858
15                OH    13.072414
16                OO    13.541479
17                PT    11.254706
18                QX     8.200509
19                UA    13.612739
20                VX    10.285714
21                WN     9.837868
22                YV    13.952081
23                YX    11.908703
24                ZW    15.650377

In [15]:
#Merge averages dataframe with original 
flights_data = flights_data.merge(flights_grouped, on = 'op_unique_carrier', how = 'outer')

In [16]:
flights_data = flights_data.drop(columns = ['fl_date','mkt_unique_carrier','dest','dep_delay','dep_time','arr_time','nas_delay','security_delay','weather_delay','late_aircraft_delay','carrier_delay'])
flights_data

,op_unique_carrier,origin,arr_delay,crs_arr_time,actual_elapsed_time,distance,year,month,day,weekday,total_delay
0,AS,PDX,-5.0,1941,139.0,834.0,2018,8,26,1.0,9.120756
1,AS,ONT,-6.0,1230,166.0,956.0,2019,7,2,0.0,9.120756
2,AS,LAX,-22.0,1610,125.0,834.0,2019,8,7,0.0,9.120756
3,AS,SEA,3.0,16,59.0,224.0,2018,5,31,0.0,9.120756
4,AS,MCO,-3.0,1940,309.0,2149.0,2019,8,26,0.0,9.120756
...,...,...,...,...,...,...,...,...,...,...,...
978871,VX,LAX,-15.0,2259,171.0,1246.0,2018,3,15,0.0,10.285714
978872,VX,JFK,-1.0,1048,361.0,2248.0,2018,2,26,0.0,10.285714
978873,VX,SFO,14.0,1335,83.0,337.0,2018,3,9,0.0,10.285714
978874,VX,SFO,-28.0,1615,292.0,2446.0,2018,1,23,0.0,10.285714
978875,VX,LAX,58.0,1647,304.0,2454.0,2018,3,28,0.0,10.285714

In [17]:
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# flights_data["origin"]= le.fit_transform(flights_data["origin"])

#Did not end up using this

In [53]:
flights_data

,op_unique_carrier,origin,arr_delay,crs_arr_time,actual_elapsed_time,distance,year,month,day,weekday,total_delay
0,AS,PDX,-5.0,1941,139.0,834.0,2018,8,26,1.0,9.120756
1,AS,ONT,-6.0,1230,166.0,956.0,2019,7,2,0.0,9.120756
2,AS,LAX,-22.0,1610,125.0,834.0,2019,8,7,0.0,9.120756
3,AS,SEA,3.0,16,59.0,224.0,2018,5,31,0.0,9.120756
4,AS,MCO,-3.0,1940,309.0,2149.0,2019,8,26,0.0,9.120756
...,...,...,...,...,...,...,...,...,...,...,...
978871,VX,LAX,-15.0,2259,171.0,1246.0,2018,3,15,0.0,10.285714
978872,VX,JFK,-1.0,1048,361.0,2248.0,2018,2,26,0.0,10.285714
978873,VX,SFO,14.0,1335,83.0,337.0,2018,3,9,0.0,10.285714
978874,VX,SFO,-28.0,1615,292.0,2446.0,2018,1,23,0.0,10.285714
978875,VX,LAX,58.0,1647,304.0,2454.0,2018,3,28,0.0,10.285714

## Baseline Model #1 Random Forest

In [19]:
X = flights_data[['crs_arr_time','actual_elapsed_time','distance','year','month','day','weekday','total_delay']]
y = flights_data['arr_delay']

In [32]:
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [33]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [23]:
#Fitting against itself
reg = RandomForestRegressor(n_estimators=100)

reg.fit(X_train,y_train)

y_pred=reg.predict(X_test)

In [24]:
 rmse = np.sqrt(mean_squared_error(y_test, y_pred))
 rmse

43.150523078894665

In [26]:
reg.score(X_test,y_test)

0.06780089349757812

## Dummy Regressor

In [49]:
from sklearn.dummy import DummyRegressor

dumreg = DummyRegressor(strategy='mean')
dumreg2 = DummyRegressor(strategy='median')
dumreg.fit(X_train,y_train)
dumreg2.fit(X_train,y_train)

DummyRegressor(strategy='median')

In [50]:
y_pred = dumreg.predict(X_test)
y_pred2 = dumreg.predict(X_test)

In [52]:
dumreg.score(y_test,y_pred)
#dumreg2.score(y_test,y_pred2)

1.0

## Linear Regression

In [55]:
from sklearn.linear_model import LinearRegression

In [58]:
from sklearn.metrics import mean_absolute_error

In [60]:
from sklearn.metrics import r2_score

In [56]:
# creating linear regression
lr = LinearRegression()
lr.fit(X_train,y_train)
y_lr = lr.predict(X_test)

In [61]:
MAElr = mean_absolute_error(y_test,y_lr)
MAElr

22.684766749129167

In [63]:
R2lr = r2_score(y_test,y_lr)
R2lr

0.07556653196262775